<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZPersianCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B1178A1C738A1C0087BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B117A31C738A1C0087BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B117AE1C738A1C0087BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
