<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>moharam</string>
	<string>safar</string>
	<string>rabiAval</string>
	<string>rabiSani</string>
	<string>jamadiAval</string>
	<string>jamadiSani</string>
	<string>rajab</string>
	<string>shaban</string>
	<string>ramadhanKarim</string>
	<string>shoval</string>
	<string>ziGhade</string>
	<string>ziHaje</string>
</array>
</plist>
