<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>farvardin</string>
	<string>ordibehesht</string>
	<string>khordad</string>
	<string>tir</string>
	<string>mordad</string>
	<string>shahrivar</string>
	<string>mehr</string>
	<string>aban</string>
	<string>azar</string>
	<string>dey</string>
	<string>bahman</string>
	<string>esfand</string>
</array>
</plist>
